<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <dhlexpress>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>InXpress\InXpressRating\Model\Carrier\DHLExpress</model>
                <name>InXpress DHL Shipping</name>
                <account></account>
                <title>DHL Express</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </dhlexpress>
        </carriers>
        <carriers>
            <canpar>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>InXpress\InXpressRating\Model\Carrier\Canpar</model>
                <name>InXpress Canpar Shipping</name>
                <account></account>
                <title>Canpar</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </canpar>
        </carriers>
    </default>
</config>